body {
    font-family: Ubuntu, "times new roman", times, roman, serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unstyled {
    all: unset;
}

.no-list-style {
    li {
        list-style-type: none;
    }
}

@media (min-width: 1024px) {
    .too-large-padding {
        padding-left: 12rem;
        padding-right: 12rem;
    }
}
