<head>
    <!--settings-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />

    <meta name="author" content="{{config.author}}" />
    <meta name="description" content="{{ page.summary | default(value=config.description)}}" />

    <meta property="og:type" content="website" />
    <meta
        property="og:image"
        content="{{ get_url(path="images/Tsunami_by_hokusai_19th_century.jpg") | safe }}"
    />
    <meta property="og:image:alt" content="Japanese painting depicting a tsunami consuming a boat with a mountain on the background" />
    <meta property="og:site_name" content="{{ config.title }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="article:author" content="{{ config.author }}" />
    <meta name="fediverse:creator" content="@caio_v1@mastodon.social" />

    <link rel="canonical" href="{{page.permalink | default(value=config.base_url) }}" />
    <link rel="webmention" href="https://webmention.io/caiobernardo.top/webmention" />
    <link rel="me" href="https://github.com/caio-bernardo/" />
    <link rel="me" href="https://mastodon.social/@caio_v1" />

    {% if page.permalink -%}
    <link rel="canonical" href="{{page.permalink}}" />
    {% endif %}

    <title>
        {% if section.title -%} {{ section.title }} | {% elif page.title -%}
        {{ page.title }} | {% endif %} {{config.title}}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/global.css" />

    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />

    <script>
    const theme =
        localStorage.getItem("theme") ||
        (window.matchMedia("(prefers-color-scheme: light)").matches
            ? "light"
            : "dark");
    document.documentElement.setAttribute("data-theme", theme);
    </script>
</head>
