<header class="container" style="text-align: center">
    {% set image = resize_image(path="static/wave.png", width=130, height=130,
    op="scale", format="webp") %}
    <figure>
        <img src="{{image.url}}" alt="Kanagawa Great Wave Logo" />
    </figure>

    <hgroup>
        <h3>Caio Bernardo</h3>
        <p>Student | Researcher | Developer</p>
    </hgroup>

    <nav style="display: flex; justify-content: center">
        <ul>
            <li><a href="/">/home</a></li>
            <li><a href="/blog">/blog</a></li>
            <li><a href="/links">/links</a></li>
            <li><a href="/about">/about</a></li>
            <li>
                <button class="outline" id="theme-toggler">
                    <span id="theme-moon" aria-label="Toggle Dark Mode">
                        {{icons::icon(name="moon")}}
                    </span>
                    <span id="theme-sun" aria-label="Toggle Light Mode">
                        {{icons::icon(name="sun")}}
                    </span>
                </button>
            </li>
        </ul>
    </nav>
</header>
