{% extends 'base.html' %} {% block main %}

<section class="search-container">
    <hgroup>
    {{section.content | safe}}
    </hgroup>
</section>

<section>
    {% for page in section.pages %}
    <hr />
    <article class="unstyled">
        <hgroup>
            <h3><a style="text-decoration: none;" href="{{page.permalink}}">{{page.title}}</a></h3>
            <p>{{page.date}}</p>
            <p>
            {% if page.taxonomies.tags %}
                {% for tag in page.taxonomies.tags %}
                <span><a href="{{ get_taxonomy_url(kind="tags", name=tag, lang=lang) | safe }}">#{{ tag }}</a></span>
                {% endfor %}
            {% endif %}
            </p>
        </hgroup>
    </article>
    {% endfor %}
</section>

{% endblock main %}
